<div class="row">
  <label class="col-lg-2">
    자동메일
  </label>

  <div class="col-lg-10">
    <select multiple="multiple" id='multiple' name="email_list">
      <option selected disabled hidden>=== 메일링 리스트를 선택하세요 ===</option>
      <optgroup label="=== 대외비 ===">
        <option value="1">대외비</option>
      </optgroup>
      <optgroup label="=== 연구소 ===">
        <option value="설계팀">설계팀</option>
        <option value="금형팀">금형팀</option>
        <option value="선행개발팀">선행개발팀</option>
      </optgroup>
      <optgroup label="=== 영업 구매부 ===">
        <option value="영업팀">영업팀</option>
        <option value="구매팀">구매팀</option>
      </optgroup>
      <optgroup label="=== 제조부 ===">
        <option value="생산팀">생산팀</option>
        <option value="생산 기술팀">생산 기술팀</option>
      </optgroup>
      <optgroup label="=== 품질 관리팀 ===">
        <option value="품질관리팀">품질관리팀</option>
      </optgroup>
      <optgroup label="=== 소재 사업실 ===">
        <option value="소재 개발팀">소재 개발팀</option>
      </optgroup>
    </select>
  </div>
</div>


<script>
  $(function() {
    $('select#multiple').multipleSelect({
      labelTemplate: function($el) {
        return $el.attr('label')
      }
    })
  })
</script>
<hr />
