<ul class="list-unstyled ps-0">
  <li class="mb-1">
    <a href="#" class="left_nav nav-link text-white collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
      <i class="fa fa-filter" aria-hidden="true"></i> Filters</a>

    <div class="collapse" id="home-collapse" style="">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
        <li><a href="#" class="link-dark rounded collapsed" data-bs-toggle="collapse" data-bs-target="#nation-collapse" aria-expanded="false" style="margin-left: 35px;">국가별</a></li>
        <div class="collapse" id="nation-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
            <li><a href="/posts?limit=10&searchType=nation&searchText=한국" class="link-dark rounded" style="margin-left: 45px;">한국(KOR)</a></li>
            <li><a href="/posts?limit=10&searchType=nation&searchText=일본" class="link-dark rounded" style="margin-left: 45px;">일본(JPN)</a></li>
            <li><a href="/posts?limit=10&searchType=nation&searchText=중국" class="link-dark rounded" style="margin-left: 45px;">중국(CHN)</a></li>
            <li><a href="/posts?limit=10&searchType=nation&searchText=베트남" class="link-dark rounded" style="margin-left: 45px;">베트남(VTN)</a></li>
          </ul>
        </div>




        <li><a href="#" class="link-dark rounded collapsed" data-bs-toggle="collapse" data-bs-target="#enterprise-collapse" aria-expanded="false" style="margin-left: 35px;">고객사별</a></li>
        <div class="collapse" id="enterprise-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
            <li><a href="/posts?limit=10&searchType=enterprise&searchText=VD" class="link-dark rounded" style="margin-left: 45px;">VD</a></li>
            <li><a href="/posts?limit=10&searchType=enterprise&searchText=SCD" class="link-dark rounded" style="margin-left: 45px;">SCD</a></li>
            <li><a href="/posts?limit=10&searchType=enterprise&searchText=SONY" class="link-dark rounded" style="margin-left: 45px;">SONY</a></li>
            <li><a href="/posts?limit=10&searchType=enterprise&searchText=PANASONIC" class="link-dark rounded" style="margin-left: 45px;">PANASONIC</a></li>
            <li><a href="/posts?limit=10&searchType=enterprise&searchText=에너지솔루션" class="link-dark rounded" style="margin-left: 45px;">에너지솔루션</a></li>
            <li><a href="/posts?limit=10&searchType=enterprise&searchText=원진" class="link-dark rounded" style="margin-left: 45px;">원진</a></li>
          </ul>
        </div>


      </ul>
    </div>
  </li>

</ul>
