/*------------*/
/* new nav */
.page-item.active .page-link {
  background-color: #000000;
  border-color: #000000;
}

.bd {
  background-color: #eee;
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
}

.c-r {
  width: 100%;
  text-align: center;
}

.cards {
  width: 100%;
  margin: 1%;
}

.left_nav:hover {
  background-color: #525252;
}

.nav-link .fa {
  transition: all 1s
}

.nav-link:hover .fa {
  transform: rotate(360deg)
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  z-index: 3;
  font-size: 30px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1%;
  z-index: 3;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

/* ----- */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container {
  max-width: 80%;
}

.breadcrumb-item {
  font-size: 0.8em !important;
}

.ellipsis {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table .title {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table {
  table-layout: fixed;
}

.board-table .enterprise,

.board-table .numId {
  width: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}



 {
  width: 40%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-table .code,
.board-table .nation,
.board-table .numId_daily {
  width: 30%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.board-table .author,
.board-table .nation,
.board-table .date
 {
  width: 20%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table .sender
{
 width: 25%;
 text-align: center;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}



.board-table .title-container:hover .title-comments,
.board-table .title-container:hover .title-text,
.board-table .title-container:hover .title-attachment {
  text-decoration: underline;
}

.post-body,
.comment-text {
  white-space: pre-line;
}

.post-info {
  font-size: 0.8em;
}

.user-form {
  width: 400px;
}

.post-index-tool {
  max-width: 450px;
}

.post-index-tool input[type='text'] {
  max-width: 130px;
}

.highlighted {
  background-color: yellow;
}

.comment-edit,
.comment-reply,
.comment-edit-enabled .comment-show {
  display: none;
}

.comment-edit-enabled .comment-edit,
.comment-reply-enabled .comment-reply {
  display: inherit;
}

h1 {
  font-family: 'Nanum Gothic';
  font-size: 30px;
  font-weight: 900;
  color: #00000;
}

h2 {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #00000;
}

.spinner-border {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 3rem;
  height: 3rem;
}

 /* ----------------------------------------------
 * Generated by Animista on 2022-1-27 17:40:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes shadow-drop-2-bl {
  0% {
    -webkit-transform: translateZ(0) translateX(0) translateY(0);
    transform: translateZ(0) translateX(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent
  }

  100% {
    -webkit-transform: translateZ(50px) translateX(12px) translateY(-12px);
    transform: translateZ(50px) translateX(12px) translateY(-12px);
    -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, .35);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, .35)
  }
}

@keyframes shadow-drop-2-bl {
  0% {
    -webkit-transform: translateZ(0) translateX(0) translateY(0);
    transform: translateZ(0) translateX(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent
  }

  100% {
    -webkit-transform: translateZ(50px) translateX(12px) translateY(-12px);
    transform: translateZ(50px) translateX(12px) translateY(-12px);
    -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, .35);
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, .35)
  }
}

.card-header {

}

.card{

}

.anim {
  animation: shadow-drop-2-bl .5s cubic-bezier(.25, .46, .45, .94) both
}
