

#main {
  background-color: #EEEEEE;
  width: 100%;
  position: relative;
}

.inzi-logo {
  padding: 3% 3%;
}

.home-logo {
  position: absolute;
  padding-top: 1.5rem;
  right: 3%;
  font-size: 40px;
  color:#222831;
}


.home-logo:hover {
  color: #FFD369;
}

.container-fluid {
  padding: 3% 15% 5%;
  background-color: #fff;
}

h1 {
  text-align: center;
  font-family: 'Nanum Gothic';
  font-size: 25px;
  font-weight: 900;
  color: #222831;
  padding-bottom: 15px;
}

.file-up {
  padding: 0 0 10px 0 ;
}

#footer {
  width: 100%;
  position: relative;
  background-color: #222831;
  color: #EEEEEE;
  padding: 1%;
}

#footer .l_box {
  float: none;
  text-align: center;
}

#footer .l_box .txt>b {
  font-size: 18px;
  font-weight: 500;
  color: #FFD369;
  display: block;
}

#footer .l_box .txt>a {
  font-size: 13px;
  font-weight: 300;
  color: #EEEEEE;
  line-height: 1;
  margin-top: 3px;
}

#footer .l_box .txt ul {
  text-align: left;
}

#footer .l_box .txt {
  margin-left: 0;
  margin-top: 20px;
  font-family: 'Nanum Gothic';
  font-size: 12px;
  font-weight: 200;
}

#footer .r_box ul {
    text-align: center;
}

#footer .r_box p {
    font-size: 12px;
    color: #EEEEEE;
    font-weight: 300;
    margin-top: 5px;
}

#footer .l_box .txt ul {
    margin-top: 15px;
}

#footer .l_box .txt ul li {
    margin-top: 4px;
    margin-left: 30px;
}

#footer .l_box .txt ul li em {
    padding: 0 3px;
    font-family: 'Nanum Gothic';
    font-size: 12px;
    font-weight: 400;
    color: #EEEEEE;

    display: inline-block;
    vertical-align: middle;
}

#footer .copyright {
  text-align: center;
}
